<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyi.bph.dao.report.CaseReportMapper" >
	<resultMap id="caseTypeAGGRMap" type="com.tianyi.bph.domain.report.CaseTypeAGGR">
    	<result column="type_code" property="typeCode"   jdbcType="VARCHAR"/>
    	<result column="type_name"  property="typeName" jdbcType="VARCHAR"/>
    	<result column="type_parent_code" property="typeParentCode" jdbcType="VARCHAR" />
    	<result column="type_level" property="typeLevel" jdbcType="INTEGER" />
    	<result column="type_count" property="amount" jdbcType="INTEGER" />
    </resultMap>
	
	<resultMap id="casePeriodAGGRMap" type="com.tianyi.bph.domain.report.CasePeriodAGGR">
    	<result column="period" property="period"   jdbcType="INTEGER"/>
    	<result column="period_count" property="amount" jdbcType="INTEGER" />
    	
    	<result column="years" property="years"   jdbcType="INTEGER"/>
    	<result column="months" property="months"   jdbcType="INTEGER"/>
    	<result column="days" property="days"   jdbcType="INTEGER"/>
    </resultMap>

	<resultMap id="caseHourAGGRMap" type="com.tianyi.bph.domain.report.CaseHourAGGR">
    	<result column="chour" property="hour"   jdbcType="INTEGER"/>
    	<result column="period_count" property="amount" jdbcType="INTEGER" />
    </resultMap>

	<resultMap id="caseOrgAGGRMap" type="com.tianyi.bph.domain.report.CaseOrgAGGR">
    	<result column="org_id" property="orgId"   jdbcType="INTEGER"/>
    	<result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    	<result column="org_path" property="orgPath" jdbcType="VARCHAR" />
    	<result column="org_parentpath" property="orgParentPath" jdbcType="VARCHAR" />
    	<result column="org_parentid" property="orgParentId" jdbcType="INTEGER" />
    	<result column="org_name" property="orgName" jdbcType="VARCHAR" />
    	<result column="type_code" property="typeCode" jdbcType="VARCHAR" />
    	<result column="type_name" property="typeName" jdbcType="VARCHAR" />
    	<result column="type_parent_code" property="typeParentCode" jdbcType="VARCHAR" />
    	<result column="type_level" property="typeLevel" jdbcType="INTEGER" />
    	<result column="org_type_count" property="amount" jdbcType="INTEGER" />
    </resultMap>

	<select id="loadMaxYMD">
		select IFNULL(MAX(ymd),0)  from t_case_report
	</select>
  	
  	<select id="loadMaxDate"  resultType="java.util.Date">
  		select max(update_time) from t_case_report
  	</select>
  	
  	<insert  id="insertCaseInfo">
  		insert into t_case_report
  		(
  			CODE,
			cdate,
			cyear,
			cmonth,
			cday,
			chour,
			ymd,
			ym,
			org_id,
			org_code,
			org_path,
			org_parent_id,
			state,
			phone,
			clevel,
			type1,
			type2,
			type3,
			content,
			address,
			gps,
			operator,
			update_time
		)
		SELECT
			bj.JJDBH,
			bj.BJSJ,
			YEAR (bj.BJSJ),
			MONTH (bj.BJSJ),
			DAY (bj.BJSJ),
			HOUR (bj.bjsj),
			DATE_FORMAT(bj.BJSJ, '%Y%m%d'),
			DATE_FORMAT(bj.BJSJ, '%Y%m'),
			org.ORGAN_ID,
			org.CODE,
			org.PATH,
			org.parent_id,
			bj.AJZT,
			bj.LXDH,
			bj.CASE_LEVEL,
			bj.BJLB,
			bj.BJLX,
			bj.BJXL,
			bj.BJNR,
			bj.SFDZ,
			bj.GPS_CONFIG,
			bj.JJYXM,
			bj.update_time
		FROM
			b_jjdb AS bj
		LEFT JOIN t_organ AS org  ON bj.gxdwbh = org.CODE
		WHERE
			not exists(select 1 from t_case_report  as cr where  cr.code=bj.jjdbh )
			<if test="beginTime != null" >
				and bj.update_time &gt;=#{beginTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime != null" >
				and bj.update_time  &lt; #{endTime,jdbcType=TIMESTAMP}
			</if>
		order by  bj.JJDBH
  	</insert>
  	
  	<update id="updateCaseInfo">
		update t_case_report as cr
		INNER JOIN
		(
			select
				bj.JJDBH,
				bj.BJSJ,
				bj.AJZT,
				bj.LXDH,
				bj.CASE_LEVEL,
				bj.BJLB,
				bj.BJLX,
				bj.BJXL,
				bj.BJNR,
				bj.SFDZ,
				bj.GPS_CONFIG,
				bj.JJYXM,
				bj.update_time,
				org.organ_id,
				org.code,
				org.parent_id,
				org.path
			FROM b_jjdb as bj
			INNER JOIN t_organ as org on bj.gxdwbh=org.code
			where
				EXISTS (select 1 from t_case_report as c where c.code =bj.jjdbh and c.update_time  &lt; bj.update_time) 
				<if test="beginTime != null" >
					and bj.update_time &gt;=#{beginTime,jdbcType=TIMESTAMP}
				</if>
				<if test="endTime != null" >
					and bj.update_time  &lt; #{endTime,jdbcType=TIMESTAMP}
				</if>
		) as t on t.jjdbh=cr.code
		SET
			cr.code				=t.JJDBH,
			cdate				=t.BJSJ,
			cyear				=YEAR (t.BJSJ),
			cmonth			=MONTH (t.BJSJ),
			cday					=DAY (t.BJSJ),
			chour				=HOUR (t.bjsj),
			ymd					=DATE_FORMAT(t.BJSJ, '%Y%m%d'),
			ym					=DATE_FORMAT(t.BJSJ, '%Y%m'),
			org_id				=t.ORGAN_ID,
			org_code			=t.CODE,
			org_path			=t.PATH,
			org_parent_id	=t.parent_id,
			state					=t.AJZT,
			phone				=t.LXDH,
			clevel 				=t.CASE_LEVEL,
			type1				=t.BJLB,
			type2				=t.BJLX,
			type3				=t.BJXL,
			content			=t.BJNR,
			address				=t.SFDZ,
			gps					=t.GPS_CONFIG,
			operator			=t.JJYXM,
			cr.update_time	=t.update_time
  	</update>
  	
  	<insert id="insertOrganLevel"  >
  		INSERT INTO t_organ_level (
			organ_id,
			parent_id,
			LEVEL,
			level1_id,
			level2_id,
			level3_id,
			level4_id,
			level5_id,
			level6_id
		) SELECT
			t.ORGAN_ID,
			t.PARENT_ID,
			t.LEVLE,
			t1.ORGAN_ID,
			t2.ORGAN_ID,
			t3.ORGAN_ID,
			t4.ORGAN_ID,
			t5.ORGAN_ID,
			t6.ORGAN_ID
		FROM
			t_organ AS t
		LEFT JOIN t_organ AS t1 ON SUBSTRING(t.PATH, 2, 12) = t1. CODE
		LEFT JOIN t_organ AS t2 ON SUBSTRING(t.PATH, 15, 12) = t2. CODE
		LEFT JOIN t_organ AS t3 ON SUBSTRING(t.PATH, 28, 12) = t3. CODE
		LEFT JOIN t_organ AS t4 ON SUBSTRING(t.PATH, 41, 12) = t4. CODE
		LEFT JOIN t_organ AS t5 ON SUBSTRING(t.PATH, 54, 12) = t5. CODE
		LEFT JOIN t_organ AS t6 ON SUBSTRING(t.PATH, 67, 12) = t6. CODE
  	</insert>
  	
  	<select id="loadCaseTypeReport"  parameterType="java.util.Map"  resultMap="caseTypeAGGRMap">
		select 
			t.type_code					as type_code,
			bat.type_name 				as type_name,
			bat.parent_type_code	as type_parent_code,
			t.type_level					as type_level,
			t.type_count					as type_count
		FROM(
			select
				type1 		as type_code,
				1 				as type_level,
				count(*) 	as type_count
			from 
				t_case_report
			where 
				org_path like CONCAT(#{orgPath,jdbcType=VARCHAR},'%') and 
				clevel in 
					<foreach item="item" index="index" collection="levels" open="(" separator="," close=")">  
						#{item}
					</foreach> AND
				ymd  &gt;=#{beginYMD,jdbcType=INTEGER} and ymd &lt;=#{endYMD,jdbcType=INTEGER} and
				chour in
					<foreach item="item" index="index" collection="hours" open="(" separator="," close=")">  
						#{item}
					</foreach>
			group by 
				type1
			UNION 
			select
				type2 		as type_code,
				2				as	type_level,
				count(*) 	as type_count
			from 
				t_case_report
			where
				org_path like CONCAT(#{orgPath,jdbcType=VARCHAR},'%') and 
				clevel in 
					<foreach item="item" index="index" collection="levels" open="(" separator="," close=")">  
						#{item}
					</foreach> AND
				ymd  &gt;=#{beginYMD,jdbcType=INTEGER} and ymd &lt;=#{endYMD,jdbcType=INTEGER} and
				chour in
					<foreach item="item" index="index" collection="hours" open="(" separator="," close=")">  
						#{item}
					</foreach>
			group by 
				type2
		)as t
		left join b_alarm_type as bat on t.type_code=bat.TYPE_CODE
		where 
			t.type_code is not NULL
  	</select>
  	
  	<select id="loadCasePeriodReport"  parameterType="java.util.Map"  resultMap="casePeriodAGGRMap">
  		select 
  			<if test ="periodType==3">
  				cmonth as period,
  			</if> 
  			<if test ="periodType==1">
  				cday as period, 
  				</if>
  			<if test ="periodType==4">
  				ymd as period, 
  			</if>
  			cyear as years , 
  			cmonth as months,
  			cday as days,
  			count(*)	as period_count
  		from
  			t_case_report
  		where
  			org_path like CONCAT(#{orgPath,jdbcType=VARCHAR},'%') and 
			clevel in 
				<foreach item="item" index="index" collection="levels" open="(" separator="," close=")">  
					#{item}
				</foreach> AND
			type2 in
				<foreach item="item" index="index" collection="type2Codes" open="(" separator="," close=")">  
					#{item}
				</foreach> AND
			ymd  &gt;=#{beginYMD,jdbcType=INTEGER} and ymd &lt;=#{endYMD,jdbcType=INTEGER} and
			chour  in
				<foreach item="item" index="index" collection="hours" open="(" separator="," close=")">  
					#{item}
				</foreach>
		group by  
			<if test ="periodType==1">
  				cday  
  			</if> 
			<if test ="periodType==3">
  				cmonth  
  				</if>
  			<if test ="periodType==4">
  				ymd 
  			</if>
  	</select>
  	
  	<select id="loadCaseHourReport"  parameterType="java.util.Map"  resultMap="caseHourAGGRMap">
  		select 
  			chour 		as chour,
  			count(*)	as period_count
  		from
  			t_case_report
  		where
  			ymd  &gt;=#{beginYMD,jdbcType=INTEGER} and ymd &lt;=#{endYMD,jdbcType=INTEGER} and
  			org_path like CONCAT(#{orgPath,jdbcType=VARCHAR},'%')	and 
			clevel in
				<foreach item="item" index="index" collection="levels" open="(" separator="," close=")">  
					#{item}
				</foreach> AND
			type2 in
				<foreach item="item" index="index" collection="type2Codes" open="(" separator="," close=")">  
					#{item}
				</foreach> AND
			chour  in
				<foreach item="item" index="index" collection="hours" open="(" separator="," close=")">  
					#{item}
				</foreach> 
		group by 
			chour
  	</select>
  	
  	<select id="loadCaseOrgReport"  parameterType="java.util.Map"  resultMap="caseOrgAGGRMap">
  		select
  			t.org_id								as org_id,
  			org.code							as org_code,
  			org.path						as org_path,
  			org.parent_id                  as org_parentid,
  			left(org.path, (LENGTH(org.PATH)-LENGTH(org.CODE)-1)) as org_parentpath,
  			org.short_name				as org_name,
  			t.type_code						as type_code,
  			bat.type_name 					as type_name,
  			bat.parent_type_code		as type_parent_code,
			t.type_level						as type_level,
			ifnull(org_type_count,0)	as org_type_count
  		from t_organ as org
  		left join 
  		(
	  		select
	  			org_id		as org_id,
	  			type1		as type_code,
	  			1				as type_level,
	  			count(*)	as org_type_count
	  		from
	  			t_case_report
	  		where
	  			ymd  &gt;=#{beginYMD,jdbcType=INTEGER} and ymd &lt;=#{endYMD,jdbcType=INTEGER} and
	  			org_path  like CONCAT(#{orgPath,jdbcType=VARCHAR},'%') and 
	  			clevel in 
					<foreach item="item" index="index" collection="levels" open="(" separator="," close=")">  
						#{item}
					</foreach> AND
				type1 in
					<foreach item="item" index="index" collection="type2Codes" open="(" separator="," close=")">  
						#{item}
					</foreach> AND
				chour  in
					<foreach item="item" index="index" collection="hours" open="(" separator="," close=")">  
						#{item}
					</foreach> 
			group by
				org_id,
				type1
			UNION
			select
	  			org_id		as org_id,
	  			type2		as type_code,
	  			2				as type_level,
	  			count(*)	as org_type_count
	  		from
	  			t_case_report
	  		where
	  			ymd  &gt;=#{beginYMD,jdbcType=INTEGER} and ymd &lt;=#{endYMD,jdbcType=INTEGER} and
	  			org_path  like CONCAT(#{orgPath,jdbcType=VARCHAR},'%') and 
	  			clevel in 
					<foreach item="item" index="index" collection="levels" open="(" separator="," close=")">  
						#{item}
					</foreach> AND
				type2 in
					<foreach item="item" index="index" collection="type2Codes" open="(" separator="," close=")">  
						#{item}
					</foreach> AND
				chour  in
					<foreach item="item" index="index" collection="hours" open="(" separator="," close=")">  
						#{item}
					</foreach> 
			group by
				org_id,
				type2
		)as t on org.organ_id=t.org_id
		left join b_alarm_type as bat on t.type_code=bat.TYPE_CODE
		where org.path like CONCAT(#{orgPath,jdbcType=VARCHAR},'%') 
  	</select>
  	
  	<resultMap id="WarningAGGRMap" type="com.tianyi.bph.domain.report.WarningOrgAGGR">
    	<result column="org_id" property="orgId"   jdbcType="INTEGER"/>
    	<result column="org_name" property="orgName"  jdbcType="VARCHAR" />
    	<result column="org_code" property="orgCode"  jdbcType="VARCHAR" />
    	<result column="amount" property="amount"  jdbcType="DECIMAL" />
    </resultMap>
  	
  	<select id="loadWarningReport"  parameterType="java.util.Map"  resultMap="WarningAGGRMap">
  		SELECT
			org.ORGAN_ID as org_id,
			org.name     as org_name,
			IFNULL(t.amount,0) as amount
		FROM t_organ AS org
		LEFT JOIN (
			SELECT
				<if test ="orgLevel==1">
  					ole.level2_id as org_id,
  				</if>
				<if test ="orgLevel==2">
  					ole.level3_id as org_id,
  				</if>
  				<if test ="orgLevel ==3">
  					ole.level4_id as org_id,
  				</if>
  				<if test ="orgLevel ==4">
  					ole.level5_id as org_id,
  				</if>
  				<if test ="orgLevel ==5">
  					ole.level6_id as org_id,
  				</if>
  				<if test ="orgLevel ==6">
  					ole.level7_id as org_id,
  				</if>
				ifnull(count(*) ,0) AS amount
			FROM t_case_report AS cp
			LEFT JOIN t_organ_level AS ole ON cp.org_id = ole.organ_id
			WHERE
				<if test ="orgLevel==1">
  					ole.level1_id = #{orgId,jdbcType=INTEGER} and
  				</if>
				<if test ="orgLevel==2">
  					ole.level2_id = #{orgId,jdbcType=INTEGER} and
  				</if>
  				<if test ="orgLevel ==3">
  					ole.level3_id = #{orgId,jdbcType=INTEGER} and
  				</if>
  				<if test ="orgLevel ==4">
  					ole.level4_id = #{orgId,jdbcType=INTEGER} and
  				</if>
  				<if test ="orgLevel ==5">
  					ole.level5_id = #{orgId,jdbcType=INTEGER} and
  				</if>
  				<if test ="orgLevel ==6">
  					ole.level6_id = #{orgId,jdbcType=INTEGER} and
  				</if>
				ymd &gt;=#{beginYmd,jdbcType=INTEGER} and 
	  			ymd &lt;=#{endYmd,jdbcType=INTEGER}
	  			<if test="caseLevels != null"> 
	  			 	and cp.clevel in 
	  					<foreach item="item" index="index" collection="caseLevels" open="(" separator="," close=")">  
								#{item}
						</foreach>
				</if> 
				
				<if test="type2Codes !=null">
				 	and cp.type2 in
						<foreach item="item" index="index" collection="type2Codes" open="(" separator="," close=")">  
								#{item}
						</foreach>
				</if>
			GROUP BY
				<if test ="orgLevel==1">
  					ole.level2_id
  				</if>
				<if test ="orgLevel==2">
  					ole.level3_id
  				</if>
  				<if test ="orgLevel ==3">
  					ole.level4_id
  				</if>
  				<if test ="orgLevel ==4">
  					ole.level5_id
  				</if>
  				<if test ="orgLevel ==5">
  					ole.level6_id
  				</if>
  				<if test ="orgLevel ==6">
  					ole.level7_id
  				</if>
		) AS t ON t.org_id = org.organ_id
		where org.PARENT_ID= #{orgId,jdbcType=INTEGER}
  	</select>

		<resultMap id="CaseGpsResult"  type="com.tianyi.bph.domain.report.CaseGps">
    	<result column="org_id" property="orgId"   jdbcType="INTEGER"/>
    	<result column="type1" property="type1"  jdbcType="VARCHAR" />
    	<result column="type2" property="type2"  jdbcType="VARCHAR" />
    	<result column="partypename" property="parTypeName"  jdbcType="VARCHAR" />
    	<result column="subtypename" property="subTypeName"  jdbcType="VARCHAR" />
    	<result column="code" property="jjcode"  jdbcType="VARCHAR" />
    	<result column="case_level" property="caseLevel"  jdbcType="INTEGER" />
    </resultMap>

	<select id="loadCaseGps" parameterType="java.util.Map"  resultMap="CaseGpsResult">
		SELECT
			 cp.org_id as org_id, 
			 cp.type1 	as type1,
			 cp.type2 	as type2,
			 cp.clevel	as case_level, 
			 cp.gps		as gps ,
			 cp.code    as code,
			 atp.type_name as partypename,
			 alt.type_name as subtypename
		from t_case_report as cp
		LEFT JOIN b_alarm_type atp on atp.TYPE_CODE = cp.type1
			LEFT JOIN b_alarm_type alt on alt.TYPE_CODE = cp.type2
		where 
			ymd &gt;=#{beginYmd,jdbcType=INTEGER} and 
	  		ymd &lt;=#{endYmd,jdbcType=INTEGER} and
	  		cp.clevel in 
	  			<foreach item="item" index="index" collection="caseLevels" open="(" separator="," close=")">  
					#{item}
				</foreach> and
			cp.type2 in
				<foreach item="item" index="index" collection="type2Codes" open="(" separator="," close=")">  
					#{item}
				</foreach> and
			cp.chour  in
				<foreach item="item" index="index" collection="hours" open="(" separator="," close=")">  
					#{item}
				</foreach> and
			cp.org_path like CONCAT(#{orgPath,jdbcType=VARCHAR},'%')
	</select>
	
</mapper>
