<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyi.bph.dao.report.WarningCaseTypeMapper" >
  <resultMap id="BaseResultMap" type="com.tianyi.bph.domain.report.WarningCaseType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="warning_id" property="warningId" jdbcType="INTEGER" />
    <result column="case_type_code" property="caseTypeCode" jdbcType="VARCHAR" />
    <result column="case_type_level" property="caseTypeLevel" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, warning_id, case_type_code, case_type_level
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_warning_case_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_warning_case_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tianyi.bph.domain.report.WarningCaseType"  useGeneratedKeys="true" keyProperty="id">
    insert into t_warning_case_type (id, warning_id, case_type_code, 
      case_type_level)
    values (#{id,jdbcType=INTEGER}, #{warningId,jdbcType=INTEGER}, #{caseTypeCode,jdbcType=VARCHAR}, 
      #{caseTypeLevel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tianyi.bph.domain.report.WarningCaseType"  useGeneratedKeys="true" keyProperty="id">
    insert into t_warning_case_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="warningId != null" >
        warning_id,
      </if>
      <if test="caseTypeCode != null" >
        case_type_code,
      </if>
      <if test="caseTypeLevel != null" >
        case_type_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="warningId != null" >
        #{warningId,jdbcType=INTEGER},
      </if>
      <if test="caseTypeCode != null" >
        #{caseTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="caseTypeLevel != null" >
        #{caseTypeLevel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianyi.bph.domain.report.WarningCaseType" >
    update t_warning_case_type
    <set >
      <if test="warningId != null" >
        warning_id = #{warningId,jdbcType=INTEGER},
      </if>
      <if test="caseTypeCode != null" >
        case_type_code = #{caseTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="caseTypeLevel != null" >
        case_type_level = #{caseTypeLevel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianyi.bph.domain.report.WarningCaseType" >
    update t_warning_case_type
    set warning_id = #{warningId,jdbcType=INTEGER},
      case_type_code = #{caseTypeCode,jdbcType=VARCHAR},
      case_type_level = #{caseTypeLevel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <delete id="deleteByWarningId" parameterType="java.lang.Integer" >
  	delete from t_warning_case_type
  	where warning_id=#{warningId,jdbcType=INTEGER}
  </delete>
  
</mapper>