<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyi.bph.dao.report.WarningConfigMapper" >
  <resultMap id="BaseResultMap" type="com.tianyi.bph.domain.report.WarningConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="share" property="share" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, org_id, share
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_warning_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_warning_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tianyi.bph.domain.report.WarningConfig" >
    insert into t_warning_config (id, name, org_id, 
      share)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{orgId,jdbcType=INTEGER}, 
      #{share,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.tianyi.bph.domain.report.WarningConfig" >
    insert into t_warning_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="share != null" >
        share,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="share != null" >
        #{share,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianyi.bph.domain.report.WarningConfig" >
    update t_warning_config
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="share != null" >
        share = #{share,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianyi.bph.domain.report.WarningConfig" >
    update t_warning_config
    set name = #{name,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=INTEGER},
      share = #{share,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>