<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyi.bph.dao.report.WarningConfigMapper" >
  <resultMap id="BaseResultMap" type="com.tianyi.bph.domain.report.WarningConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="share" property="share" jdbcType="BIT" />
  </resultMap>
  
   
  
  <sql id="Base_Column_List" >
    id, name, org_id, share
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_warning_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_warning_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteCaseTypeItemByCaseId" parameterType="java.lang.Integer">
   	delete from t_warning_color where warning_id = #{caseId,jdbcType=INTEGER}	
  </delete>
  
  <delete id="deleteColorItemByCaseId" parameterType="java.lang.Integer">
   	delete from t_warning_case_type where warning_id = #{caseId,jdbcType=INTEGER}	 
  </delete>
  <insert id="insert" parameterType="com.tianyi.bph.domain.report.WarningConfig"  useGeneratedKeys="true" keyProperty="id">
    insert into t_warning_config (id, name, org_id, 
      share)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{orgId,jdbcType=INTEGER}, 
      #{share,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.tianyi.bph.domain.report.WarningConfig"  useGeneratedKeys="true" keyProperty="id">
    insert into t_warning_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="share != null" >
        share,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="share != null" >
        #{share,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianyi.bph.domain.report.WarningConfig" >
    update t_warning_config
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="share != null" >
        share = #{share,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.tianyi.bph.domain.report.WarningConfig" >
    update t_warning_config
    set name = #{name,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=INTEGER},
      share = #{share,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    <resultMap id="VMMap"  type="com.tianyi.bph.query.report.WarningCfgVM" >
    <id column="warning_id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="share" property="share" jdbcType="BIT" />
    <collection property="colors" resultMap="ColorMap"/>
    <collection property="caseTypes" resultMap="CaseTypeMap"/>
  </resultMap>
  
  <resultMap id="ColorMap"  type="com.tianyi.bph.domain.report.WarningColor" >
    <id column="color_id" property="id" jdbcType="INTEGER" />
    <result column="warning_id" property="warningId" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="ge" property="ge" jdbcType="DECIMAL" />
    <result column="lt" property="lt" jdbcType="DECIMAL" />
    <result column="default_color" property="defaultColor" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="CaseTypeMap"  type="com.tianyi.bph.domain.report.WarningCaseType" >
    <id column="case_type_id" property="id" jdbcType="INTEGER" />
    <result column="warning_id" property="warningId" jdbcType="INTEGER" />
    <result column="case_type_code" property="caseTypeCode" jdbcType="VARCHAR" />
    <result column="case_type_name" property="caseTypeName" jdbcType="VARCHAR" />
    <result column="case_type_level" property="caseTypeLevel" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="CaseLevelMap"  type="com.tianyi.bph.domain.report.WarningCaseLevel" >
    <id column="case_level_id" property="id" jdbcType="INTEGER" />
    <result column="warning_id" property="warningId" jdbcType="INTEGER" />
    <result column="case_level" property="caseLevel" jdbcType="INTEGER" />
  </resultMap>

  <select id="loadWarningCfgVMCountByOrgId"  parameterType="java.util.Map"  resultType="java.lang.Integer">
  	select
  		count(*)
  	from t_warning_config 				as cfg 
  	where
  		cfg.org_id = #{orgId,jdbcType=INTEGER}	
  		<if test="orgParentId!=null"> 
  			or(
  				cfg.org_id= 	#{orgParentId,jdbcType=INTEGER} and cfg.share =1
  			)
  		</if>
  </select>

  <select id="loadWarningCfgVMByOrgId"  parameterType="java.util.Map"  resultMap="VMMap">
  	select
  		cfg.id						as warning_id,
  		cfg.name					as name,
  		cfg.org_id					as org_id,
  		cfg.share					as share,
  		color.id						as color_id,
  		color.level					as level,
  		color.ge					as ge,
  		color.lt						as lt,
  		color.default_color 	as default_color,
  		ct.id							as case_type_id,
  		ct.case_type_code		as case_type_code,
  		ct.case_type_level		as case_type_level,
  		cl.id							as case_level_id,
  		cl.case_level				as case_level,
  		t.TYPE_NAME             as case_type_name
  	from t_warning_config 				as cfg
  	left join t_warning_color 			as color 	on cfg.id=color.warning_id
  	left join t_warning_case_type	as ct			on cfg.id=ct.warning_id
  	left join t_warning_case_level	as cl			on cfg.id=cl.warning_id
  	left join b_alarm_type          		as t            on ct.case_type_code = t.TYPE_CODE
  	where
  		cfg.org_id = #{orgId,jdbcType=INTEGER}	
  		<if test="orgParentId!=null"> 
  			or(
  				cfg.org_id= 	#{orgParentId,jdbcType=INTEGER} and cfg.share =1
  			)
  		</if>  
  </select>
  <select id="loadWarningCfgVMInfoById"  parameterType="java.lang.Integer"  resultMap="VMMap">
  	select
  		cfg.id						as warning_id,
  		cfg.name					as name,
  		cfg.org_id					as org_id,
  		cfg.share					as share,
  		color.id						as color_id,
  		color.level					as level,
  		color.ge					as ge,
  		color.lt						as lt,
  		color.default_color 	as default_color,
  		ct.id							as case_type_id,
  		ct.case_type_code		as case_type_code,
  		ct.case_type_level		as case_type_level,
  		t.TYPE_NAME             as case_type_name
  	from t_warning_config 				as cfg
  	left join t_warning_color 			as color 	on cfg.id=color.warning_id
  	left join t_warning_case_type	as ct			on cfg.id=ct.warning_id
  	left join b_alarm_type          as t            on ct.case_type_code = t.TYPE_CODE
  	where
  		cfg.id = #{caseId,jdbcType=INTEGER}	
  		 
  </select>
  
  <select id=" loadWarningCfgVMById"  parameterType="java.lang.Integer"  resultMap="VMMap">
	select
  		cfg.id						as warning_id,
  		cfg.name					as name,
  		cfg.org_id					as org_id,
  		cfg.share					as share,
  		color.id						as color_id,
  		color.level					as level,
  		color.ge					as ge,
  		color.lt						as lt,
  		color.default_color 	as default_color,
  		ct.id							as case_type_id,
  		ct.case_type_code		as case_type_code,
  		ct.case_type_level		as case_type_level,
  		cl.id							as case_level_id,
  		cl.case_level				as case_level
  	from t_warning_config 				as cfg
  	left join t_warning_color 			as color 	on cfg.id=color.warning_id
  	left join t_warning_case_type	as ct			on cfg.id=ct.warning_id
  	left join t_warning_case_level	as cl			on cfg.id=cl.warning_id
  	where
  		cfg.id=#{id,jdbcType=INTEGER}
  	</select>
  
</mapper>
